html, body {
  height: 100%;
  margin: 0;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}

.text-gradient.text-primary {
  background-image: linear-gradient(310deg, #7928CA, #FF0080);
}

.text-gradient.text-info {
  background-image: linear-gradient(310deg, #2152FF, #21D4FD);
}

.text-gradient.text-success {
  background-image: linear-gradient(310deg, #17AD37, #C1E823);
}

.text-gradient.text-warning {
  background-image: linear-gradient(310deg, #F53939, #FBCF33);
}

.text-gradient.text-danger {
  background-image: linear-gradient(310deg, #D60808, #FF6690);
}

.text-gradient.text-dark {
  background-image: linear-gradient(310deg, #141727, #3A416F);
}